.DS_Store
**/*-logs.jsonl

docs/
run/
*/run/
autotest/
dist/

# Gradle
build
.gradle
.kotlin
classes/
*.class

/out

# IntelliJ Files
.idea/
*.iml
*.ipr
*.iws
/logs/

# Eclipse Files
.classpath
.project
.settings/

.vscode/
.vscode/launch.json
.architectury-transformer
mapping