# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
  pull_request:

env:
  JAVA_VERSION: '21'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        java: ['21']

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        cache-read-only: ${{ github.ref != 'refs/heads/master' }}

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Check code formatting
      run: ./gradlew spotlessCheck
      continue-on-error: true

    - name: Build with Gradle
      run: ./gradlew build

    - name: Upload Build Artifacts
      if: matrix.java == '21'
      uses: actions/upload-artifact@v5
      with:
        name: maestro-jars-${{ github.sha }}
        path: |
          fabric/build/libs/*[0-9].jar
          forge/build/libs/*[0-9].jar
          neoforge/build/libs/*[0-9].jar
          tweaker/build/libs/*[0-9].jar
        if-no-files-found: error
