name: Lint

on:
  push:
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Lint GitHub Actions workflows
        uses: raven-actions/actionlint@v2
